.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  margin-left: 100px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.containerItem,
.darkContainerItem {
  width: 270px;
  border-radius: 13px;
  box-shadow: 1px 1px 5px 2px rgb(92, 64, 51, 0.3);
  background-color: #f9f6ee;
}
.darkContainerItem {
  color: gray;
}
.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productTitle {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 22px;
  color: goldenrod;
  text-align: left;
  margin: 0px;
  margin-bottom: 8px;
}
.imgProduct {
  width: 150px;
  height: 150px;
  padding-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
}
.productQuantity,
.productPrice,
.byn,
.sum,
.summa,
.sumByn,
.darkItem {
  font-family: "Open sans";
  font-weight: 500;
  font-size: 18px;
  color: gray;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 0px;
  text-decoration: none;
}
.summa {
  font-weight: 600;
  font-size: 20px;
  color: goldenrod;
}
.productPrice,
.sum,
.darkItem {
  font-size: 20px;
}

.containerPrice {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.fullSum {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

@media (max-width: 1300px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 80%;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    /* margin-left: 100px; */
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 80%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    /* margin-left: 100px; */
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 60%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 60px;
    margin-left: 0px;
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 630px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 60%;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 60px;
    margin-left: 0px;
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .containerItem {
    width: 70%;
  }
}
