@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

.deleteBtn {
  position: relative;
  width: 80px;
  height: 35px;
  background: goldenrod;
  border-radius: 0px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.deleteBtn .delete {
  position: absolute;
  top: 12px;
  left: 6px;
  width: 18px;
  height: 16px;
  display: inline-block;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-decoration: none;
  transition: 0.5s;
}

.deleteBtn:hover .delete {
  transform: scale(1.2) rotate(60deg) translateY(10px);
}

.deleteBtn .delete::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -3px;
  width: 100%;
  height: 2px;
  background: #fff;
  box-shadow: 12px -2px 0 goldenrod, 12px -3px 0 goldenrod,
    15px -1px 0 goldenrod, 6px -2px 0 #fff;
  transition: 0.5s;
}
.deleteBtn:hover .delete::before {
  transform: rotate(-90deg) translateX(50%) translateY(-10px);
}
.deleteBtn .deleteText {
  position: absolute;
  right: 4px;
  color: white;
  font-size: 12px;
  transition: 0.5s;
}
.deleteBtn:hover .deleteText {
  transform: translateX(-50px) translateY(-5px) scale(0);
}

.deleteBtn:hover .deleteText,
.active .deleteText {
  transform: translateX(-50px) translateY(-5px) scale(0);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  justify-content: center;
  row-gap: 50px;
  margin-left: 70px;
  padding-top: 120px;
  margin-bottom: 40px;
}
.forBtnBack {
  display: flex;
  margin-left: 100px;
  padding-top: 10px;
}
.fullSum {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}
.summa,
.totalPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: goldenrod;
  text-decoration: none;
  margin: 0px;
}
.totalPrice {
  font-weight: 800;
}

.containerItem,
.darkContainerItem {
  width: 230px;
  height: 340px;
  border-radius: 13px;
  box-shadow: 1px 1px 5px 2px rgb(92, 64, 51, 0.3);
  background-color: rgba(250, 247, 239, 0.9);
}
.darkContainerItem {
  background-color: rgba(57, 62, 74, 0.2);
}
.imageContainer {
  width: 100%;
  height: 180px;
}
.imgProduct {
  width: 130px;
  height: 120px;
  margin: 0 auto;
  padding-top: 40px;
  margin-right: 0px;
}
.containerPrice {
  padding: 16px 0px 0px;
}

.productTitle,
.productPrice,
.sum,
.productQuantity,
.darkProductTitle,
.darkProductPrice,
.darkSum,
.darkProductQuantity {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  color: rgb(114, 110, 110);
  margin: 0px 0px 8px 0px;
  text-decoration: none;
}
.productTitle,
.darkProductTitle {
  height: 20px;
  font-size: 18px;
  margin-bottom: 10px;
  overflow: hidden;
}
.productPrice,
.darkProductPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.sum,
.productQuantity,
.darkSum,
.darkProductQuantity {
  font-size: 14px;
}
.darkProductTitle,
.darkProductPrice,
.darkSum,
.darkProductQuantity {
  color: rgba(255, 255, 255, 0.7);
}
.forBtnDelete {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1300px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 75%;
  }
  .container {
    grid-template-columns: repeat(3, 28%);
    row-gap: 60px;
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .summa,
  .totalPrice {
    font-size: 22px;
    font-weight: 700;
  }
}
@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 32%);
  }
}
@media (max-width: 1050px) {
  .container {
    grid-template-columns: repeat(3, 34%);
  }
}
@media (max-width: 980px) {
  .container {
    grid-template-columns: repeat(3, 36%);
  }
}
@media (max-width: 880px) {
  .containerItem {
    width: 70%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 110px;
    padding-top: 70px;
  }
  .summa,
  .totalPrice {
    font-size: 20px;
  }
  .fullSum {
    justify-content: center;
    margin: 0px;
  }
}

@media (max-width: 780px) {
  .forBtnBack {
    margin-left: 100px;
  }
  .container {
    grid-template-columns: repeat(2, 55%);
  }
}
@media (max-width: 675px) {
  .forBtnBack {
    margin-left: 60px;
  }
  .container {
    grid-template-columns: repeat(2, 60%);
  }
}
@media (max-width: 630px) {
  .containerItem {
    width: 45%;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: 0px;
  }
}
@media (max-width: 540px) {
  .forBtnBack {
    margin-left: 20px;
  }
  .containerItem {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .containerItem {
    width: 55%;
  }
}
@media (max-width: 426px) {
  .fullSum {
    padding-top: 30px;
  }
  .containerItem {
    width: 58%;
  }
}
@media (max-width: 400px) {
  .containerItem {
    width: 63%;
  }
}
@media (max-width: 360px) {
  .containerItem {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .forBtnBack {
    margin-left: 0px;
  }
  .containerItem {
    width: 74%;
  }
}
