.container {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  row-gap: 30px;
  margin-left: 70px;
  padding-top: 120px;
  margin-bottom: 40px;
}
.forBtnBack {
  display: flex;
  margin-left: 100px;
  padding-top: 10px;
}
.containerItem,
.darkContainerItem {
  width: 200px;

  /* border-radius: 13px;
  box-shadow: 1px 1px 5px 2px rgb(92, 64, 51, 0.3);
  background-color: #f9f6ee; */
}

.darkContainerItem {
  color: gray;
}
.imageContainer {
  width: 100%;
}
.imgProduct {
  width: 130px;
  height: 150px;
  padding: 10px;
  margin-right: 0px;
}
.containerPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 16px 0px 0px;
}

.productTitle,
.productPrice,
.sum,
.productQuantity {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: goldenrod;
  margin: 0px;
  margin-bottom: 8px;
}
.productPrice,
.sum,
.productQuantity {
  font-size: 16px;
  color: rgb(57, 56, 56);
  text-decoration: none;
}
.forBtnDelete {
  display: flex;
  justify-content: flex-end;
}

.byn,
.summa,
.sumByn,
.darkItem {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: gray;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 0px;
  text-decoration: none;
}
.summa {
  font-weight: 600;
  font-size: 20px;
  color: goldenrod;
}

.fullSum {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

@media (max-width: 1300px) {
  .mainContainer {
    width: 100%;
  }
  .containerItem {
    width: 80%;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    padding-top: 50px;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .containerItem {
    width: 70%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .forBtnBack {
    margin-left: 100px;
  }
}
@media (max-width: 675px) {
  .forBtnBack {
    margin-left: 60px;
  }
}
@media (max-width: 630px) {
  .containerItem {
    width: 60%;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: 0px;
  }
}
@media (max-width: 560px) {
  .forBtnBack {
    margin-left: 20px;
  }
}
@media (max-width: 425px) {
  .fullSum {
    padding-top: 20px;
    margin-right: 60px;
  }
}
@media (max-width: 400px) {
  .containerItem {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .forBtnBack {
    margin-left: 0px;
  }
  .fullSum {
    margin-right: 30px;
  }
}
