.container {
  display: flex;
  width: 632px;
  height: 40px;
  margin-left: 70px;
  border-radius: 2px;
  border: 1px solid gray;
  margin-top: 50px;
}

.tabContainer {
  display: flex;
  width: 200px;
  margin-left: 10px;
}
.ico {
  width: 32px;
  height: 32px;
  margin-right: 0px;
  margin-top: 5px;
}
@media (max-width: 1200px) {
  .container {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 30px;
    width: 455px;
  }
  .tabContainer {
    display: flex;
    width: 30%;
    margin-left: 10px;
  }
}
@media (max-width: 525px) {
  .container {
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 110px;
    border: none;
  }
  .ico {
    display: none;
  }
  .tabContainer {
    display: flex;
    width: 30%;
    margin-left: 10px;
  }
}
