.container,
.darkContainer {
  width: 1000px;
  height: 600px;
  padding: 20px 15px;
  border: 1px solid gray;
  margin-left: 70px;
}
/* .wrapper {
  display: flex;
} */
.darkContainer {
  background: #254050;
}
