.button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.btnMain,
.btnShop,
.btnShowMore,
.btnTabActive,
.btnTabUnactive,
.btnDelete {
  width: 150px;
  height: 40px;
  background-color: goldenrod;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 280px;
}
.btnDelete {
  width: 32px;
  height: 32px;
  margin: 0px;
  border-radius: 0px;
  margin-right: 10px;
}
.btnTabActive {
  margin-left: 0;
  width: 200px;
  height: 40px;
  border-radius: 2px;
}
.btnTabUnactive {
  background-color: darkgrey;
  margin-left: 0;
  width: 200px;
  height: 40px;
  border-radius: 2px;
}
.btnShop {
  margin-top: 20px;
  margin-left: 0px;
}
.btnShowMore {
  margin: 0;
  width: 100px;
  height: 30px;
}
.btnBack {
  width: 166px;
  height: 29px;
  border: none;
  color: goldenrod;
  cursor: pointer;
  background: transparent;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: left;
  position: relative;
  left: -35%;
}
.btnBack::before {
  content: "<";
  clear: both;
  display: block;
  position: absolute;
  top: -2px;
  left: -20px;
}
.btnCategory,
.buttonDark {
  width: 180px;
  height: 50px;
  color: #fff;
  background: goldenrod;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(92, 64, 51, 0.3),
    4px 4px 5px 0px rgba(92, 64, 51, 0.3);
  outline: none;
}
.btnCategory:before,
.buttonDark::before {
  height: 0%;
  width: 2px;
}
.btnCategory:hover,
.buttonDark:hover {
  background: rgb(158, 116, 8);
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 5px 1px rgba(116, 125, 136, 0.5),
    inset -1px -1px 5px 1px rgba(255, 255, 255, 0.2),
    /* inset 4px 4px 6px 0 rgba(0, 0, 0, 0.5); */ inset 1px 1px 5px 2px
      rgb(92, 64, 51, 0.3);
}
