.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 40px;
  margin-bottom: 50px;
}
.wrapper {
  width: 250px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: #faf9f6;
  box-shadow: 1px 1px 5px 2px rgb(92, 64, 51, 0.3);
  border-radius: 13px;
}
.darkContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 15px;
  color: white;
}
.forBtnBack {
  margin-right: 60%;
}
@media (max-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    height: 500px;
  }
}
@media (max-width: 975px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .forBtnBack {
    margin-right: 50%;
  }
}
@media (max-width: 720px) {
  .forBtnBack {
    margin-right: 30%;
  }
}
@media (max-width: 630px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 530px) {
  .forBtnBack {
    margin-right: 20%;
  }
}
@media (max-width: 375px) {
  .forBtnBack {
    margin-right: 0%;
  }
}
