.switchCheckbox {
  position: relative;
  right: -20%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfdff;
  border: 0.5px solid #dbdf1c;
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.slider:before {
  content: "";
  background-image: url("../../assets/images/moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border-radius: 50px;
  height: 17px;
  width: 17px;
  left: 8px;
  bottom: 3px;
  background-color: #daa520;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  background-image: url("../../assets/images/moon-dark.svg");
  background-color: #ffffff;
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
@media (max-width: 520px) {
  .switchCheckbox {
    right: -10%;
  }
}
