.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: rgb(241, 178, 16);
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding-top: 50px;
}

.container,
.darkContainer {
  background: linear-gradient(
      360deg,
      rgba(69, 70, 64, 0.6) 0%,
      rgba(69, 70, 64, 0.6) 100%
    ),
    url("../../assets/images/backForShop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
}
.darkContainer {
  background: #282c34;
}
@media (max-width: 1200px) {
  .container,
  .darkContainer {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .title {
    text-align: center;
    margin: 10px 0px 30px 10px;
    font-size: 36px;
    line-height: 100%;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 28px;
  }
}
