.mainContainer,
.darkContainer {
  background-attachment: fixed;

  background: linear-gradient(
      360deg,
      rgba(69, 70, 64, 0.6) 0%,
      rgba(69, 70, 64, 0.6) 100%
    ),
    url("../../assets/images/backForShop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
}
.darkContainer {
  background: #282c34;
}
.title,
.emptyList {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: goldenrod;
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding-top: 50px;
}
.emptyList {
  font-weight: 500;
  font-size: 32px;
  color: white;
  padding-top: 10px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerIngredient,
.darkContainerIngredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgb(46, 43, 43, 0.5);
  border-radius: 10px;
}
.darkContainerIngredient {
  border: 1px solid gray;
  background-color: transparent;
}
.ingredientsItem,
.darkItem {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 0px 0px 0px 5px;
}
.darkItem {
  color: white;
}
.btnContainer {
  display: flex;
  padding-top: 17px;
  margin-left: 100px;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .btnContainer {
    margin-left: 80px;
  }
  .title {
    text-align: center;
    margin: 10px 0px 30px 10px;
    font-size: 45px;
    line-height: 100%;
  }
  .emptyList {
    color: white;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .title {
    text-align: center;
    margin: 10px 0px 30px 10px;
    font-size: 36px;
    line-height: 100%;
  }
}
@media (max-width: 650px) {
  .btnContainer {
    margin-left: 50px;
  }
}
@media (max-width: 560px) {
  .title {
    font-size: 32px;
  }
  .btnContainer {
    margin-left: 20px;
  }
  .containerIngredient,
  .darkContainerIngredient {
    width: 70%;
    height: 40px;
  }
  .ingredientsItem,
  .darkItem {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .containerIngredient,
  .darkContainerIngredient {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .btnContainer {
    margin-left: 0px;
  }
}
