.container {
  display: flex;
  /* background-color: goldenrod; */
  width: 1175px;
  height: 40px;
  margin-left: 140px;
  border-radius: 2px;
  border-bottom: 1px solid gray;
  margin-top: 50px;
}
.tabContainer {
  display: flex;
  /* width: 220px; */
  /* margin-left: 10px; */
}

.ico {
  width: 32px;
  height: 32px;
  margin-right: 0px;
  margin-top: 5px;
}
