.linkLogin {
  color: goldenrod;
}
.darkLinkLogin {
  color: goldenrod;
  font-weight: 700;
}
.text,
.darkText {
  font-family: "Raleway";
  font-size: 25px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #254050;
}
.darkText {
  color: whitesmoke;
}
.inputContainer {
  text-align: left;
}
@media (max-width: 768px) {
  .text,
  .darkText,
  .linkLogin,
  .darkLinkLogin {
    font-size: 20px;
    text-align: center;
  }
}
