.container {
  background: linear-gradient(
      360deg,
      rgba(69, 70, 64, 0.4) 0%,
      rgba(69, 70, 64, 0.4) 100%
    ),
    url("../../assets/images/backForShop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.titleContainer {
  padding-top: 150px;
  margin-left: 250px;
  text-align: left;
  z-index: 2;
}

@keyframes blur {
  0% {
    text-shadow: 0 0 100px goldenrod;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px goldenrod;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px goldenrod;
  }
  80% {
    text-shadow: 0 0 0px goldenrod;
  }
  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px goldenrod;
  }
  100% {
    text-shadow: 0 0 100px goldenrod;
    opacity: 0;
  }
}

@keyframes blurText {
  0% {
    text-shadow: 0 0 100px white;
    opacity: 0;
  }
  5% {
    text-shadow: 0 0 90px white;
  }
  15% {
    opacity: 1;
  }
  20% {
    text-shadow: 0 0 0px white;
  }
  80% {
    text-shadow: 0 0 0px white;
  }
  85% {
    opacity: 1;
  }
  95% {
    text-shadow: 0 0 90px white;
  }
  100% {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
      1px 1px 1px rgba(0, 0, 0, 0.5);
    opacity: 0;
  }
}

.tastyInner {
  font-family: "Kaushan Script", "sans-serif";
  font-weight: 800;
  font-size: 70px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  color: transparent;
  -webkit-animation: blur 12s ease-out infinite;
  animation: blur 12s ease-out infinite;
}

.aboutInner {
  width: 600px;
  text-align: left;
  font-family: "Raleway", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 70px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  color: transparent;
  -webkit-animation: blurText 12s ease-out infinite;
  animation: blurText 12s ease-out infinite;
}

@media (max-width: 768px) {
  .titleContainer {
    margin-left: 150px;
  }
  .aboutInner {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .aboutInner {
    width: 200px;
    font-size: 14px;
  }
}
@media (max-width: 426px) {
  .titleContainer {
    margin-left: 30px;
  }
}
